body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    background-color: #e5e5f7;
    background-image: linear-gradient(135deg, #161515 25%, transparent 25%), linear-gradient(225deg, #161515 25%, transparent 25%), linear-gradient(45deg, #161515 25%, transparent 25%), linear-gradient(315deg, #161515 25%, #d2d2e3 25%);
    background-position: 40px 0, 40px 0, 0 0, 0 0;
    background-size: 40px 40px;
    background-repeat: repeat;
}

.app-container {
    display: block;
    text-align: center;
    background: white;
    padding: 20px;
    overflow: scroll;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75vw;
    margin: auto;
}

input[type=number],
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #161515;
    color: white;
    border: none;
    margin: 10px auto;
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 5px 5px 0 0;
    border: none;
}

input[type=color]::-moz-color-swatch {
    border-radius: 5px 5px 0 0;
    border: none;
}

.header {
    display: flex;
}

.header .logo-container{
    margin: auto;
    text-align: left;
}

.header .logo {
    font-size: 3rem;
    margin: 0;
    text-align: left;
}

.header .slogan{
    margin: 0;
}

.header .form-container {
    margin: auto;
    padding: 5px 30px;
    border-radius: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#colorInputs {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-grow: 1;
}

#colorInputs input[type="color"] {
    margin: 5px auto 0;
    padding: 0;
}

#combinationsContainer {
    overflow-y: scroll;
    max-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(234 234 234);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.combination {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.color-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex-grow: 1;
    justify-content: center;
}

button.delete-button {
    width: 46px;
    font-size: 8px;
    margin: -5px auto 5px;
    padding: 5px 5px;
    background-color: #e81139;
    color: white;
    border: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.color-container{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.color-buttons{
    display: flex;
}

.color-buttons button{
    display: block;
    width: 45%;
    margin: 10px auto ;
}